# 忽略 datasets 目录及其子目录中的所有 jpg 和 png 文件
datasets/**/*.jpg
datasets/**/*.png

# 忽略 train_results 目录及其子目录中的所有 jpg 和 png 文件
train_results/**/*.jpg
train_results/**/*.png

# 忽略 val_results 目录及其子目录中的所有 jpg 和 png 文件
val_results/**/*.jpg
val_results/**/*.png
# 忽略 val_results 目录及其子目录中的所有 jpg 和 png 文件
*/*results/**/*.png
*/*results/**/*.jpg
*/*results/**/*.jpeg
*/*results/**/*.gif
*/*results/**/*.bmp
*/*results/**/*.tiff
*/04_3DGS/data/**/*.png
*/04_3DGS/data/**/*.jpg
*/04_3DGS/data/**/*.jpeg
*/04_3DGS/data/**/*.gif
*/04_3DGS/data/**/*
/Assignments/04_3DGS/data/chair/images/r_0.png

*/04_3DGS/pytorch3d077/**/*
!pytorch3d077/
*.pyc